<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
<link href ="./output.css" rel="stylesheet"/><link href= "./css/styles.css" rel= "stylesheet">
</head>
<body>



<!--Frontend code-->

<!--views/activities.html-->      <div class="heading">
                <strong>activities</strong>
        </div>
        <div class="subheading">
                <button>Open Menu</button>
        </div>
<div class="contents">
                <div class="navbar hidden">
                        <ul>
                                <a href="./activitiesPage"><li>activities</li></a>
                                <a href="./activity_bookingsPage"><li>activity_bookings</li></a>
                                <a href="./busPage"><li>bus</li></a>
                                <a href="./busbookingsPage"><li>busbookings</li></a>
                                <a href="./business_partnersPage"><li>business_partners</li></a>
                                <a href="./cabbookingsPage"><li>cabbookings</li></a>
                                <a href="./cabdriversPage"><li>cabdrivers</li></a>
                                <a href="./cabsPage"><li>cabs</li></a>
                                <a href="./currenciesPage"><li>currencies</li></a>
                                <a href="./currency_conversion_ratesPage"><li>currency_conversion_rates</li></a>
                                <a href="./email_notificationsPage"><li>email_notifications</li></a>
                                <a href="./email_templatesPage"><li>email_templates</li></a>
                                <a href="./faqsPage"><li>faqs</li></a>
                                <a href="./flightbookingsPage"><li>flightbookings</li></a>
                                <a href="./flightsPage"><li>flights</li></a>
                                <a href="./hotelbookingsPage"><li>hotelbookings</li></a>
                                <a href="./hotelsPage"><li>hotels</li></a>
                                <a href="./itinerariesPage"><li>itineraries</li></a>
                                <a href="./itinerary_placesPage"><li>itinerary_places</li></a>
                                <a href="./languagesPage"><li>languages</li></a>
                                <a href="./logsPage"><li>logs</li></a>
                                <a href="./notificationsPage"><li>notifications</li></a>
                                <a href="./payment_gateway_feesPage"><li>payment_gateway_fees</li></a>
                                <a href="./payment_gateway_transactionsPage"><li>payment_gateway_transactions</li></a>
                                <a href="./paymentsPage"><li>payments</li></a>
                                <a href="./placesPage"><li>places</li></a>
                                <a href="./promotionsPage"><li>promotions</li></a>
                                <a href="./refundsPage"><li>refunds</li></a>
                                <a href="./restaurantsPage"><li>restaurants</li></a>
                                <a href="./reviewsPage"><li>reviews</li></a>
                                <a href="./social_media_accountsPage"><li>social_media_accounts</li></a>
                                <a href="./trainbookingsPage"><li>trainbookings</li></a>
                                <a href="./trainsPage"><li>trains</li></a>
                                <a href="./travel_curatorsPage"><li>travel_curators</li></a>
                                <a href="./user_preferencesPage"><li>user_preferences</li></a>
                                <a href="./usersPage"><li>users</li></a>
                                <a href="./weather_infoPage"><li>weather_info </li></a>
                        </ul>
                </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--Form submission part-->





<form enctype="multipart/form-data" id ="activities">  <div class="formentry">

	<input type="number" id="ActivityID" placeholder="ActivityID"/> 
	<input type="text" id="ActivityName" placeholder="ActivityName"/> 
	<input type="text" id="Description" placeholder="Description"/> 
	<select id="ActivityType" name="ActivityType">		<option value="Leisure">Leisure</option>		<option value="Sports">Sports</option>		<option value="Challenge">Challenge</option>		<option value="Workshop">Workshop</option>	</select>
	<select id="HostEntityType" name="HostEntityType">		<option value="Hotel">Hotel</option>		<option value="Restaurant">Restaurant</option>		<option value="Independent Organizer">Independent Organizer</option>	</select>
	<input type="text" id="HostEntityID" placeholder="HostEntityID"/> 
	<input type="text" id="Location" placeholder="Location"/> 
	<input type="datetime-local" id="StartDateTime" placeholder="StartDateTime"/> 
	<input type="datetime-local" id="EndDateTime" placeholder="EndDateTime"/> 
	<input type="number" id="MaxParticipants" placeholder="MaxParticipants"/> 
	<input type="number" id="CurrentParticipants" placeholder="CurrentParticipants"/> 
	<input type="decimalInput" id="Price" placeholder="Price" step="0.01"/> 
	<select id="DifficultyLevel" name="DifficultyLevel">		<option value="Beginner">Beginner</option>		<option value="Intermediate">Intermediate</option>		<option value="Advanced">Advanced</option>	</select>
	<select id="EquipmentRequired" name="EquipmentRequired">		<option value="Yes">Yes</option>		<option value="No">No</option>	</select>
	<input type="text" id="AgeRestriction" placeholder="AgeRestriction"/> 
	<input type="number" id="IsActive" placeholder="IsActive"/> 



<input type="submit" id ="activitiesSub"/>
</div>

</form>

<!--Radio button and search bar-->



<form id ="searchWindow">
          <div class="search">
        <input type="text" placeholder="Search" class="searchBar" id= "searchBar"/>     


<ul id="searchList"></ul>

<button id ="searchBtn"> &#x1F50D</button>         </div>
		<input type="radio" name="ActivityTypeChoice" value="Leisure">Leisure</input>
		<input type="radio" name="ActivityTypeChoice" value="Sports">Sports</input>
		<input type="radio" name="ActivityTypeChoice" value="Challenge">Challenge</input>
		<input type="radio" name="ActivityTypeChoice" value="Workshop">Workshop</input>
		<input type="radio" name="HostEntityTypeChoice" value="Hotel">Hotel</input>
		<input type="radio" name="HostEntityTypeChoice" value="Restaurant">Restaurant</input>
		<input type="radio" name="HostEntityTypeChoice" value="Independent Organizer">Independent Organizer</input>
		<input type="radio" name="DifficultyLevelChoice" value="Beginner">Beginner</input>
		<input type="radio" name="DifficultyLevelChoice" value="Intermediate">Intermediate</input>
		<input type="radio" name="DifficultyLevelChoice" value="Advanced">Advanced</input>
		<input type="radio" name="EquipmentRequiredChoice" value="Yes">Yes</input>
		<input type="radio" name="EquipmentRequiredChoice" value="No">No</input>

</form>


<li id="activitiesList" class="list"></li>

        </div>


<script src="activities.js"></script>

        <div class="footer"></div>
        <script src="activities.js"></script>
        <script>
                const openBtn = document.querySelector('.subheading button');
                const navbar = document.querySelector('.navbar');
                openBtn.addEventListener('click',()=>
        {
                console.log("openbtn clicked")
                navbar.classList.toggle('hidden');
        });
        </script>
</body>
</html>
