<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabs</title>
<link href ="./output.css" rel="stylesheet"/><link href= "./css/styles.css" rel= "stylesheet">
</head>
<body>



<!--Frontend code-->

<!--views/cabs.html-->      <div class="heading">
                <strong>cabs</strong>
        </div>
        <div class="subheading">
                <button>Open Menu</button>
        </div>
<div class="contents">
                <div class="navbar hidden">
                        <ul>
                                <a href="./activitiesPage"><li>activities</li></a>
                                <a href="./activity_bookingsPage"><li>activity_bookings</li></a>
                                <a href="./busPage"><li>bus</li></a>
                                <a href="./busbookingsPage"><li>busbookings</li></a>
                                <a href="./business_partnersPage"><li>business_partners</li></a>
                                <a href="./cabbookingsPage"><li>cabbookings</li></a>
                                <a href="./cabdriversPage"><li>cabdrivers</li></a>
                                <a href="./cabsPage"><li>cabs</li></a>
                                <a href="./currenciesPage"><li>currencies</li></a>
                                <a href="./currency_conversion_ratesPage"><li>currency_conversion_rates</li></a>
                                <a href="./email_notificationsPage"><li>email_notifications</li></a>
                                <a href="./email_templatesPage"><li>email_templates</li></a>
                                <a href="./faqsPage"><li>faqs</li></a>
                                <a href="./flightbookingsPage"><li>flightbookings</li></a>
                                <a href="./flightsPage"><li>flights</li></a>
                                <a href="./hotelbookingsPage"><li>hotelbookings</li></a>
                                <a href="./hotelsPage"><li>hotels</li></a>
                                <a href="./itinerariesPage"><li>itineraries</li></a>
                                <a href="./itinerary_placesPage"><li>itinerary_places</li></a>
                                <a href="./languagesPage"><li>languages</li></a>
                                <a href="./logsPage"><li>logs</li></a>
                                <a href="./notificationsPage"><li>notifications</li></a>
                                <a href="./payment_gateway_feesPage"><li>payment_gateway_fees</li></a>
                                <a href="./payment_gateway_transactionsPage"><li>payment_gateway_transactions</li></a>
                                <a href="./paymentsPage"><li>payments</li></a>
                                <a href="./placesPage"><li>places</li></a>
                                <a href="./promotionsPage"><li>promotions</li></a>
                                <a href="./refundsPage"><li>refunds</li></a>
                                <a href="./restaurantsPage"><li>restaurants</li></a>
                                <a href="./reviewsPage"><li>reviews</li></a>
                                <a href="./social_media_accountsPage"><li>social_media_accounts</li></a>
                                <a href="./trainbookingsPage"><li>trainbookings</li></a>
                                <a href="./trainsPage"><li>trains</li></a>
                                <a href="./travel_curatorsPage"><li>travel_curators</li></a>
                                <a href="./user_preferencesPage"><li>user_preferences</li></a>
                                <a href="./usersPage"><li>users</li></a>
                                <a href="./weather_infoPage"><li>weather_info </li></a>
                        </ul>
                </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!--Form submission part-->





<form enctype="multipart/form-data" id ="cabs">  <div class="formentry">

	<input type="number" id="id" placeholder="id"/> 
	<input type="text" id="origin" placeholder="origin"/> 
	<input type="text" id="destination" placeholder="destination"/> 
	<input type="decimalInput" id="distance" placeholder="distance" step="0.01"/> 
	<input type="number" id="time" placeholder="time"/> 
	<input type="text" id="originCode" placeholder="originCode"/> 
	<input type="text" id="destinationCode" placeholder="destinationCode"/> 
	<input type="decimalInput" id="baseFare" placeholder="baseFare" step="0.01"/> 
	<input type="decimalInput" id="perKmRate" placeholder="perKmRate" step="0.01"/> 
	<input type="decimalInput" id="estimatedFare" placeholder="estimatedFare" step="0.01"/> 
	<select id="active" name="active">		<option value="Yes">Yes</option>		<option value="No">No</option>	</select>
	<input type="text" id="notes" placeholder="notes"/> 

<input type="submit" id ="cabsSub"/>
</div>

</form>

<!--Radio button and search bar-->



<form id ="searchWindow">
          <div class="search">
        <input type="text" placeholder="Search" class="searchBar" id= "searchBar"/>     


<ul id="searchList"></ul>

<button id ="searchBtn"> &#x1F50D</button>         </div>
		<input type="radio" name="activeChoice" value="Yes">Yes</input>
		<input type="radio" name="activeChoice" value="No">No</input>

</form>


<li id="cabsList" class="list"></li>

        </div>


<script src="cabs.js"></script>

        <div class="footer"></div>
        <script src="cabs.js"></script>
        <script>
                const openBtn = document.querySelector('.subheading button');
                const navbar = document.querySelector('.navbar');
                openBtn.addEventListener('click',()=>
        {
                console.log("openbtn clicked")
                navbar.classList.toggle('hidden');
        });
        </script>
</body>
</html>
