<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
    <link href="./output.css" rel ="stylesheet" >
</head>
  

<body class="bg-red-300">
    Welcome
    <h1 class=" text-yellow-200">MakeMyYatra</h1>
    <form enctype="multipart/form-data" id = "placeForm" >
        <input type="text" id="name" placeholder ="name">
        <input type="text" id="type" placeholder="type">
        <input type="text" id="city" placeholder = "city">
        <input type="submit" id ="plaInfo">
    </form>
    <script src="homepage.js"></script>
</body>
</html>