<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Restaurants</title>
    <link href="./css/restaurant.css" rel="stylesheet">
</head>
<body>
    <div class="outer">
        <div class="headCon">
            <a class="hami"> <img src="./images/restaurant/ham.png" class="ham"></a>
            <div class="titular">Food Mania</div>
            <a class="kebabi"><img src="./images/restaurant/kebab.png" class="kebab"></a>

        </div>
        <div class="subhead">

        </div>
        <div class="scroll">
        <div class="imgCon">
            <img src="./images/restaurant/pizza.jpg" >
            <img src="./images/restaurant/sandwich.jpg">
            <img src="./images/restaurant/juice.jpg">
            <img src="./images/restaurant/burger.jpg">
            <img src="./images/restaurant/noodles.jpg">
        </div>
    </div>
    <div class="dineopt">
        <div class="dine">
            <img src="./images/restaurant/dine.jpg">
            <strong>Dine in</strong>
        </div>
        <div class="order">
            <img src="./images/restaurant/order.jpg">
        </div>
        <div class="searchPlaces">

        </div>
    </div>
    </div>
</body>
</html>